.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin-left: 4rem;
}

.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.header-icons img {
  width: 2rem;
}

.header-menu img {
  width: 2rem;
}
