main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.box-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 3px solid lightgray;
  font-size: xx-large;
  font-weight: 700;
}

.time {
  display: flex;
  justify-content: center;
}
